.list-items {
    color: white
}

.gutterRowOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerStyle{
    background-color: #001529;
    color: white;
    z-index: 1 
}